<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href={{url_for("loginku")}}>Index</a></li>
				<li><a href={{url_for("aboutku")}}>About</a></li>
				<li><a href={{url_for("contact")}}>Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Welcome to my blog</h1>
		<section>
			<article>
				<header>
					<h2>My first post</h2>
				</header>
				<p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Etiam quis nisl ut velit varius bibendum id sed nunc.
                    Integer tincidunt diam non diam luctus,
                    vel posuere sapien lacinia. Ut non nisl auctor, 
                    suscipit tortor non, 
                    finibus est. 
                    Duis posuere eros eu eros tristique, 
                    vel venenatis ipsum rutrum. 
                    Proin maximus, purus ut scelerisque volutpat, 
                    nisl metus bibendum diam, id facilisis metus sapien vel magna. 
                    Nulla facilisi. 
                    Nam et nulla aliquet, 
                    venenatis turpis sed, 
                    congue nunc. 
                    Nullam at faucibus orci. 
                    Praesent blandit augue vel aliquet bibendum. 
                    Nam accumsan euismod convallis. 
                    Ut fermentum aliquam ligula, vitae ultrices enim. Vestibulum non nibh quis purus bibendum viverra.
                </p>
				<footer>
					<p>Posted on January 1, 2022</p>
				</footer>
			</article>
			<article>
				<header>
					<h2>My second post</h2>
				</header>
				<p>Nullam dictum libero ut ullamcorper malesuada. Curabitur bibendum purus nec faucibus bibendum. In rhoncus erat in nunc viverra venenatis. Sed semper libero massa, ac consectetur eros hendrerit in. Integer euismod, lectus non volutpat bibendum, magna turpis efficitur nulla, ut bibendum felis leo quis nisl. Ut vel commodo turpis, vel suscipit nulla. Vivamus at risus odio. Nunc vel malesuada nibh. Donec dapibus, turpis ac sagittis laoreet, risus velit euismod dolor, in tristique neque odio at urna. Maecenas vel tortor vel magna aliquet malesuada. Aliquam porttitor sapien eget pulvinar viverra. </p>
				<footer>
					<p>Posted on February 1, 2022</p>
				</footer>
			</article>
		</section>
	</main>
	<footer>
		<p>&copy; 2022 My Blog</p>
	</footer>
</body>
</html>
